<?xml version="1.0"?>
<psalm xmlns="https://getpsalm.org/schema/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    errorLevel="1"
    resolveFromConfigFile="true"
>
  <projectFiles>
    <directory name="src/"/>
    <ignoreFiles>
      <directory name="vendor"/>
    </ignoreFiles>
  </projectFiles>

  <issueHandlers>
    <LessSpecificReturnType errorLevel="info"/>
    <PropertyNotSetInConstructor>
      <errorLevel type="suppress">
        <referencedProperty name="Eclipxe\XmlResourceRetriever\AbstractBaseRetriever::$downloader"/>
        <referencedProperty name="Eclipxe\XmlResourceRetriever\Downloader\PhpDownloader::$context"/>
      </errorLevel>
    </PropertyNotSetInConstructor>
  </issueHandlers>
</psalm>
